cython<3.1
gunicorn==21.2.0
dash==2.17.1
dash-bootstrap-components==1.6.0
flask-caching==2.3.0
plotly==5.24.1
pandas==2.2.3
sqlalchemy==2.0.31
psycopg[binary]==3.2.3
python-dotenv==1.0.1
pytest==8.3.2
